.additional-product__heading {
  margin-bottom: 36px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.additional-product__list {
  list-style-type: none;
}

.additional-product__title {
  text-transform: uppercase;
  font-weight: 400;
}

.additional-product__value {
  font-family: @secondary;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
}
