.additional-product__wrapper-heading {
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .additional-product__wrapper-heading {
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .additional-product__wrapper-heading {
    padding: 0 110px;
  }
}


.additional-product__heading {
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

@media (min-width: @tablet-width) {
  .additional-product__heading {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-product__list {
  list-style-type: none;
}

.additional-product__title {
  text-transform: uppercase;
  font-weight: 400;
}

.additional-product__value {
  font-family: @secondary;
  font-size: 14px;
  line-height: 14px;
  color: @gray-dark;
}
