.button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  color: @white;
  background-color: @basic-green;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;

  &--gray {
    background-color: @basic-grey;
    color: @special-dark-grey;
  }
}
