.example {
  background-color: @gray-light;
}

.example__title {
  margin-bottom: 40px;
  padding-top: 25px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin-bottom: 20px;
  color: @special-dark-grey;
}

.example__list {
  margin: 0 0 0 34px;
}

.example__number {
  font-size: 24px;
  text-transform: uppercase;
}

.example__text {
  font-size: 12px;
  color: @special-dark-grey;
}

.example__price {
  line-height: 20px;
  text-transform: uppercase;
}
