.features__wraper {
  height: 380px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .features__wraper {
    height: 689px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .features__wraper {
    height: 372px;
    padding: 0 110px;
  }
}

.features__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features__item {
  margin-bottom: 20px;
}

.features__description {
  font-family: @secondary;
  line-height: 18px;
  color: @special-dark-grey;
}
