.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 65px;
}

@media (min-width: @desktop-width) {
  .main-header {
    margin-top: 53px;
    margin-bottom: 29px;
  }
}

.main-header__wrapper  {
  position: relative;
  height: 66px;
}

@media (min-width: @tablet-width) {
  .main-header__wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width:@desktop-width) {
  .main-header__wrapper {
    height: 59px;
  }
}
.main-header__logo {
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
}
