.main-footer__wrapper {
  padding: 0 20px;
  height: 236px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    padding: 0 30px;
    height: 34px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    padding: 0 110px;
    height: 149px;
  }
}
