.promo__wrapper {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 20px;
  padding-top: 27px;
  padding-right: 35px;
  padding-left: 36px;
}

.promo__title {
  margin-bottom: 25px;
  font-family: @primary;
  font-weight: 400;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: @white;
}

.promo__slogan {
  margin-bottom: 29px;
  text-transform: uppercase;
  color: @white;
}

.promo__link {
  padding: 7px 44px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @basic-green;
  color: @white;
}
