.series__wrapper {
  height: 552px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .series__wrapper {
    height: 774px;
    padding: 0 30px;
  }
}

@media (min-width:@desktop-width) {
  .series__wrapper {
    height: 374px;
    padding: 0 110px;
  }
}

.series__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.series__item {
  margin-bottom: 20px;
  width: 280px;
  background-color: @basic-grey;
}

.series__title {
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
}

.series__description {
  font-family: @secondary;
  line-height: 18px;
  color: @special-dark-grey;
}

.series__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}
