// Fonts
@primary: "Oswald", sans-serif;
@secondary: "Arial", sans-serif;
// Colors
@black: #000000;
@white: #FFFFFF;
@basic-green: #68B738;
@green-one: #7fc251;
@green-two: #5EAA2F;;
@basic-gray: #F2F2F2;
@gray-light: #EAEAEA;
@gray-light-two: #E6E6E6;
@gray-light-three: #D9D9D9;
@gray-dark: #444444;
@gray-dark-two: #222222;
// Viewports
@mobile-width: 320px;
@tablet-width: 768px;
@mobile-width-only: 767px;
@desktop-width: 1200px;


